@model ForumApp.Models.Forum.ForumTopicModel;

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span>@Model.Forum.Title Forum</span>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span class="headingBtn">
                    <a asp-controller="Post"
                       asp-action="Create"
                       asp-route-forumId="@Model.Forum.Id"
                       class="btn btn-newPost">
                        Create Post
                    </a>
                </span>
            }
            <form asp-controller="Forum" asp-action="Search" method="post">
                <div class=" row searchForm">
                    <input type="text"
                           asp-for="SearchQuery"
                           placeholder="Search..."
                           class="searchBar"
                           onfocus="clearThis(this)" />
                    <button class="btn-forumSearch">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="forumId" type="hidden" />
            </form>
        </div>
        <div class="sectionDescription">
            <div 
                 class="forumLogo"
                 style="background-image: url(@Model.Forum.ImageUrl)"
                 >
            </div>
            <p>Welcome to the @Model.Forum.Title forum</p>
            @if (!Context.User.Identity.IsAuthenticated)
            {
                <p>Please 
                    <a
                       asp-controller="UserAccount"
                        asp-action="Register"
                       >register
                    </a> to create a post
                </p>
            }
        </div>
        <div class="row forumIndexContent">
            @if (Model.PostList.Any())
            {
            <table class="table table-hover table-bordered"
                   id="forumIndexTable">
                <tbody>
                    @foreach (var post in Model.PostList)
                    {
                    <tr>
                        <td>
                            <div class="postData">
                                <div class="postTitle">
                                    <a asp-controller="Post"
                                        asp-action="Index"
                                        asp-route-postId="@post.Id">
                                        @post.Title
                                    </a>
                                </div>
                                <div class="forumSubTitle">
                                    <div>
                                        <span class="postAuthor">
                                            <a 
                                               asp-controller="UserProfile"
                                               asp-action="UserDetails"
                                                asp-route-userId="@post.AuthorId"                                 
                                            >@post.AuthorName</a>
                                        </span>
                                        (@post.AuthorRating)
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                Replies: @post.RepliesCount
                            </div>
                        </td>
                        <td>
                            <div class="postDate">
                                @post.Created
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
            <div class="noPosts">
                <i class="glyphicon glyphicon-pencil md-72"></i>
                <h4>Looks like there is no posts yet in this forum</h4>
            </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function clearThis(target){
            target.value = "";
        }
    </script>
}
