@model ForumApp.Models.Post.PostIndexModel


<div class="container body-content">
    <!-- Post Header and Return Button -->
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
            <span class="headingBtn">
                <a class="btn btn-back"
                asp-controller="Forum"
                asp-action="Topic"
                asp-route-forumId="@Model.Forum.Id">
                    Back To @Model.Forum.Title
                </a>

            </span>
        </div>
    </div>
    <!-- Post Content -->
    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImgUrl);"></div>
            <a asp-controller="UserProfile" 
            asp-action="UserDetails"
            asp-route-userId="@Model.AuthorId">
                @Model.AuthorName
            </a>
            <span class="postDate">@Model.Created</span>
            @if (Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller">Admin</span>
            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>

    <!--Reply divider-->
    <div class="row" id="replyDivider"></div>

    <!-- Post Replies -->
    @if (User.Identity.IsAuthenticated)
    {
    <div class="row">
        <span>
            <a 
            class="btn btn-newReply"
            asp-controller="Reply"
            asp-action="CreateReply"
            asp-route-postId="@Model.Id">
                Write Comment
            </a>
        </span>
    </div>
    }

    @if (Model.PostReplies.Any())
    {
        foreach (var reply in Model.PostReplies)
        {
            <div class="row replyContent">
                <div class="col-md-3 reyAuthorContainer">
                    <div 
                         class="postAuthorImage" 
                         style="backgroud-image: url(@reply.AuthorImgUrl)">
                    </div>
                    <a asp-controller="UserProfile" 
                    asp-action="UserDetails"
                    asp-route-userId="@reply.AuthorId">
                        @reply.AuthorName
                    </a>
                    @if (reply.IsAuthorAdmin)
                    {
                        <div class="isAdmin smaller">Admin</div>
                        <br/>
                    }
                    <span>@reply.Created</span>
                </div>
                <div class="col-md-9 replyContentContainer">
                    <div class="postContent">
                        @Html.Raw(reply.ReplyContent)
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="noPosts">
            <h3>Write a reply to the post</h3>        
        </div>
    }
</div>

