@model ForumApp.Models.Post.PostIndexModel


<div class="container body-content">
    <!-- Post Header and Return Button -->
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
            <span class="headingBtn">
                <a class="btn btn-back"
                asp-controller="Forum"
                asp-action="Topic"
                asp-route-id="@Model.Forum.Id">
                    Back To @Model.Forum.Title
                </a>

            </span>
        </div>
    </div>
    <!-- Post Content -->
    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImgUrl);"></div>
            <a asp-controller="UserProfile" 
            asp-action="UserDetails"
            asp-route-userId="@Model.AuthorId">
                @Model.AuthorName
            </a>
            <span class="postDate">@Model.Created</span>
            @if (Model.IsAdmin)
            {
            <span class="isAdmin smaller">Admin</span>
            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>

    <!--Reply divider-->
    <div class="row" id="replyDivider"></div>

    <!-- Post Replies -->
    @if (User.Identity.IsAuthenticated)
    {
    <div class="row">
        <span>
            <a 
            class="btn btn-newReply"
            asp-controller="Reply"
            asp-action="CreateReply"
            asp-route-postId="@Model.Id">
                Write Comment
            </a>
        </span>
    </div>
    }



    <h2>Forum: @Model.Forum.Title</h2>

    <h3>Post: @Model.Title</h3>
    <!-- Create a card here from my post app -->
    <div>
        <Content>
            <p>Author Name: @Model.AuthorName</p>
            <p>Author Rating: @Model.AuthorRating</p>
            <p>Post : @Model.Created</p>
        </Content>
        <div>
            <p>@Model.Content</p>
        </div>
        <div>Replies count: @Model.RepliesCount</div>
    </div>
    <!-- Add replies -->
   
</div>

